body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-size: cover;
    overflow: hidden;

}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.tuhclock {
    display: flex;
}

.tuhclock div {
    margin: 5px;
    position: relative;
}

.tuhclock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    opacity: .8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}


.tuhclock .innertext {
    height: 30px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: darkblue;
    opacity: .8;

}

.tuhclock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: green;
}